<div class="navbar">
  <a    href="/posts"><i class="fa fa-bandcamp" aria-hidden="true"></i> All posts</a>
  <a  class="active" href="/bookings"><i class="fa fa-check-square-o" aria-hidden="true"></i> Bookings</a>
  <a href="/api"><i class="fa fa-area-chart" aria-hidden="true"></i> Track Covid Cases</a>
  {{#if hospital}}
  <a href="/post-order"><i class="fa fa-plus-square" aria-hidden="true"></i> Post Order</a>
  <a href="/orders"><i class="fa fa-book" aria-hidden="true"></i> Received Orders</a>
  {{/if}}
  <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
</div>
<div class="div1">
    <h2>Received Orders</h2>
    <h3>Here you can see the orders that others have booked under your resource</h3>
   <table>
    <thead>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Resources</th>
        <th>Description</th>
        <th>Quantity</th>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            {{#each order_user}}
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            {{/each}}
            {{#each order_hospital}}
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            {{/each}}
            {{#each order_post}}
            <td>{{this.resources}}</td>
            <td>{{this.description}}</td>
            {{/each}}
            <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
